* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Georgia";
	font-size: 16px;
	background-image: url("/images/bullsandcows.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
}

.module {
	opacity: 1 !important;
	pointer-events: auto !important;
}

#game {
	position: relative;
	display: table;
	box-sizing: border-box;
	padding: 54px 54px;
	top: 20vh;
	background-color: #cae4d4;
	border-radius: 3px;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: cornflowerblue 
}

#game .header {
	position: relative;
	display: block;
	font-size: 24px;
	margin-bottom: 36px;
}

#game input {
	display: block;
	outline: none;
	border: none;
	padding: 24PX;
	width: 78%;
	font-size: 18px;
	margin-bottom: 24px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

#game .submit {
	box-shadow: none;
	width: 80%;
	margin: 10px 10px 10px 20px;
	background-color: rgb(18, 170, 31);
	border-radius: 10px;
	color: blanchedalmond	
}

#board {
	position: relative;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: #cae4d4;
	height: 50vh;
	bottom: 20vh;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

#outcome {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 36px 54px;
	list-style: none;
	overflow-y: auto;
	overflow-x: hidden;
}

#outcome li {
	color: rgb(92, 7, 7);
	-webkit-animation: fadeIn 10s;
	animation: fadeIn 10s;
	font-size: 40px;
	font-style: oblique;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -130px;
	margin-top: 120px;
	text-decoration: crimson;

}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


#board .game {
	cursor: pointer;
	position: absolute;
	right: 34px;
	top: 34px;
	display: block;
	color: blanchedalmond;
	padding: 18px;
	width: 150px;
	background-color: rgb(18, 170, 31);
	font-size: 18px;
	text-decoration: none;
	z-index: 20;
	border-radius: 10px;
}
